<!-- <h1>Hello</h1>
<app-movies></app-movies>
<app-favorite></app-favorite> -->
<nav class="flex navBar justify-between p-4 text-white">
  <div class="title">
    <a routerLink="/"><span class="material-icons movieIcon">movie_creation</span>
      Yousif's Movie App</a>
  </div>
  <div>
    <ng-container *ngIf="!isAuthenticated()">
      <a class="mx-4" routerLink="/login">Login</a>
      <a class="mx-4" routerLink="/register">Register</a>
    </ng-container>

    <ng-container *ngIf="isAuthenticated()">
      <a class="mx-4" *ngIf="isAuthenticated()" routerLink="/favorite">My Favorites</a>

      <a class="mx-4" (click)="logout()" style="cursor:pointer;">Log Out</a>
    </ng-container>

  </div>
</nav>
<div class="p-4">
<router-outlet></router-outlet>
</div>
<footer>Made by Yousif Taher || Credit to <a href="https://www.themoviedb.org/documentation/api?language=en-US" target="_blank"><u>TMDB</u></a> for the movie API.</footer>
